@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*------------*/

/* ---- stats.js ---- */


/* ---- particles.js container ---- */

#particles-js {
    background-color: #00AC62;
    background-repeat: no-repeat;
    background-image: url('');
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    /* pointer-events: none; */
}

/*------------*/

.navbar {
    background: #131313;
    padding: 1rem 8rem;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent>ul>li:nth-child(n)>a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent>ul>li:nth-child(n)>a:hover,
#navbarSupportedContent>ul>li:nth-child(n)>a.active {
    color: #00bf85;
}

#navbarSupportedContent>button {
    background: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

#navbarSupportedContent>button:hover {
    background: #fff;
}

.mid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* .mid video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.mid .hero {
    width: 60%;
    margin: auto;
    position: relative;
}

.mid .hero p {
    width: 90%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;
}

.mid .hero a {
    background: #000;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
}

.mid .hero a:hover {
    background: #fff;
    color: #000;
}

.about {
    background: #000;
}

.about .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h6 {
    color: #00bf7f;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}

.about .text h2 {
    color: #f7f6f4;
    font-weight: 700;
    font-size: 2.7rem;
}

.about .text p {
    color: #f7f6f4;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.about .text a {
    background: #00bf85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #111;
}

.about .text a:hover {
    background: #fff;
}

.discovery .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.discovery .text h6 {
    color: #00bf7f;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}

.discovery .text h2 {
    color: #111;
    font-weight: 700;
    font-size: 2.7rem;
}

.discovery .text p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.discovery .text a {
    background: #111;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
}

.discovery .text a:hover {
    background: #00bf85;
}

.service {
    background: #000;
}

.service .one {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 7px;
}

/* .sign {} */

.sign .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.sign .text h6 {
    color: #00bf7f;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}

.sign .text h2 {
    color: #111;
    font-weight: 700;
    font-size: 2.7rem;
}

.sign .text p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.sign .text a {
    background: #111;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
}

.sign .text a:hover {
    background: #00bf7f;
}

body>footer {
    background: #111 !important;
}

body>footer>ul.list-unstyled.list-inline.text-center.py-2>li:nth-child(2)>a {
    background: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    border: none;
}

body>footer>ul.list-unstyled.list-inline.text-center.py-2>li:nth-child(2)>a:hover {
    background: #fff;
    color: #000;
}

@media screen and (max-width: 991px) {
    body>header>nav>button:focus {
        background: #00bf85;
    }

    .navbar {
        padding: 1rem;
        text-align: center;
    }

    #navbarSupportedContent>button {
        margin: 1rem 0;
    }

    #navbarSupportedContent>ul {
        padding-left: 0.8rem;
    }

    #navbarSupportedContent>ul>li:nth-child(n)>a {
        padding: 0.8rem 0;
    }

    .mid .hero h2 {
        font-size: 2.5rem;
    }

    .mid .hero p {
        font-size: 1rem;
    }

    .mid .hero a {
        font-size: 0.9rem;
    }
}